body {
  background: #ffffff;
  color: #383838; }

body {
  margin: 0; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  list-style: none;
  padding-left: 0; }

input, textarea {
  outline: none;
  border: none;
  background: transparent; }

body {
  background: #ffffff;
  color: #383838; }

@font-face {
  font-family: RobotoThin;
  src: url(Roboto-Light.ttf); }
@font-face {
  font-family: RobotoReg;
  src: url(Roboto-Regular.ttf); }
@font-face {
  font-family: RobotoBold;
  src: url(Roboto-Bold.ttf); }
html {
  font-size: 16px;
  line-height: 21px; }
  html body {
    font-family: RobotoReg;
    font-size: 1rem;
    line-height: 1.27778rem; }
    html body h1 {
      font-size: 4.22222rem;
      line-height: 5.11111rem;
      margin-top: 1.27778rem;
      margin-bottom: 2.55556rem; }
    html body h2 {
      font-size: 2.61111rem;
      line-height: 3.83333rem;
      margin-top: 1.27778rem;
      margin-bottom: 1.27778rem; }
    html body h3 {
      font-size: 1.61111rem;
      line-height: 2.55556rem;
      margin-top: 1.27778rem;
      margin-bottom: 0; }
    html body h4, html body h5 {
      font-size: 1rem;
      line-height: 1.27778rem;
      margin-top: 1.27778rem;
      margin-bottom: 0; }
    html body p, html body ul, html body ol, html body pre, html body table, html body blockquote {
      margin-top: 0;
      margin-bottom: 1.27778rem; }

.pageHeader {
  padding-top: 1rem;
  margin-bottom: 3rem; }
  .pageHeader .body {
    height: 400px; }
    .pageHeader .body .mainLogo {
      height: 400px;
      background-image: url("assets/images/logo.jpg"); }
      .pageHeader .body .mainLogo a {
        display: block;
        width: 100%;
        height: 100%; }
    .pageHeader .body .extraLogo {
      height: 200px; }
      .pageHeader .body .extraLogo a {
        display: block;
        width: 100%;
        height: 100%; }
    .pageHeader .body .eL1 {
      background-image: url("assets/images/iku.JPG");
      background-position: center bottom; }
    .pageHeader .body .eL2 {
      background-image: url("assets/images/skor.jpg");
      background-position: center; }
  .pageHeader .owl-nav {
    display: none; }
  .pageHeader .owl-dot {
    outline: none; }
  .pageHeader nav {
    margin-top: 2rem; }
    .pageHeader nav .sub {
      display: none;
      width: 100%;
      position: absolute;
      top: 100%;
      left: 0;
      padding: 1rem;
      background: #005b82;
      z-index: 2; }
      .pageHeader nav .sub a {
        display: block;
        margin-bottom: 0.5rem;
        font-size: 0.75rem;
        color: #ffffff; }
    .pageHeader nav .sup > li {
      background: linear-gradient(to bottom, #f4fafc, #dff0f7);
      position: relative;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem; }
      .pageHeader nav .sup > li > a {
        display: block;
        color: #005b82;
        text-align: center; }
      .pageHeader nav .sup > li:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px; }
      .pageHeader nav .sup > li:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px; }
      .pageHeader nav .sup > li:not(:last-child) {
        border-right: solid 1px #65b6d9; }
      .pageHeader nav .sup > li:hover {
        background: #005b82;
        border-right: none; }
        .pageHeader nav .sup > li:hover a {
          color: #ffffff; }
        .pageHeader nav .sup > li:hover .sub {
          display: block; }
    .pageHeader nav .sup .socials {
      text-align: right;
      padding-bottom: 0.2175rem; }
      .pageHeader nav .sup .socials:hover {
        background: linear-gradient(to bottom, #f4fafc, #dff0f7); }
      .pageHeader nav .sup .socials a {
        display: inline-block;
        width: 20px;
        height: 20px; }
        .pageHeader nav .sup .socials a.vk {
          background-image: url("assets/images/linkVK.png"); }
        .pageHeader nav .sup .socials a.ok {
          background-image: url("assets/images/linkOK.png"); }
        .pageHeader nav .sup .socials a.fb {
          background-image: url("assets/images/linkFB.png"); }

.bgImgCover, .bgImgContain {
  background-position: center;
  background-repeat: no-repeat; }

.bgImgCover {
  background-size: cover; }

.bgImgContain {
  background-size: contain; }

#contactsMap .ymaps-2-1-60-inner-panes {
  -webkit-filter: grayscale(100%); }

.posts-list > li {
  margin: 2rem 0 1rem;
  padding-bottom: 1rem;
  border-bottom: solid 1px #383838; }

.pageFooter {
  margin-top: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: #005b82;
  color: #ffffff;
  font-size: 0.75rem; }
  .pageFooter .navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: solid 1px #3095C1; }
    .pageFooter .navigation a {
      font-family: RobotoBold;
      text-decoration: underline; }
      .pageFooter .navigation a.ad {
        color: #E7953A; }

.home .contentMiddle li, .page-template-news .contentMiddle li, .page-template-mating-males .contentMiddle li, .page-template-mating-females .contentMiddle li, .page-template-puppies .contentMiddle li,
.page-template-photo-exhibitions .contentMiddle li, .page-template-helpTo .contentMiddle li {
  margin: 1rem 1rem 3rem 1rem; }
  .home .contentMiddle li:not(:last-child), .page-template-news .contentMiddle li:not(:last-child), .page-template-mating-males .contentMiddle li:not(:last-child), .page-template-mating-females .contentMiddle li:not(:last-child), .page-template-puppies .contentMiddle li:not(:last-child),
  .page-template-photo-exhibitions .contentMiddle li:not(:last-child), .page-template-helpTo .contentMiddle li:not(:last-child) {
    border-bottom: solid 1px #383838; }

.page-template-documents .contentMiddle li {
  margin: 0; }
  .page-template-documents .contentMiddle li:not(:last-child) {
    border-bottom: solid 1px #383838; }

.secondTitle {
  border-top: solid 1px black;
  padding-top: 1.3rem;
  margin-top: 2.6rem; }

.sideTitle {
  color: #787878;
  text-decoration: underline;
  display: block;
  margin: 1rem 0; }
  .sideTitle img {
    display: block;
    margin: 0 auto 0.5rem; }

.sideExcerpt {
  font-size: 0.85rem;
  line-height: 1rem; }

.post .entry-content img, .single .entry-content img {
  width: 100%;
  height: auto;
  margin-top: 1rem; }

.page-template-mating .hentry {
  width: 50%;
  float: left; }
  .page-template-mating .hentry:after {
    content: "";
    display: table;
    clear: both; }
  .page-template-mating .hentry .imgKeeper {
    height: 150px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; }
  .page-template-mating .hentry h3 {
    text-align: center; }

.standarty-item {
  border-bottom: solid 1px #383838; }

/*# sourceMappingURL=style.css.map */
